<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuzhu.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.zhuzhu.mobile.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zhuzhu.mobile.ui.activity.GuideActivity"
            android:theme="@style/AppTheme.Notitle.FullScreen" />
        <activity android:name="com.zhuzhu.mobile.ui.activity.MainActivity" />
        <activity
            android:name="com.zhuzhu.mobile.ui.activity.WelcomeActivity"
            android:theme="@style/AppTheme.Notitle.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>